@import "./mixins";

*{
    font-family: 'Montserrat', sans-serif;

}  

.header{

    display: flex;
    align-items: center;
    justify-content: space-around;

    @include mobile{
        display: flex;
        flex-direction: column;
        background-color: #F6F6F6;
    }

    &-1th{
        @include mobile{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-around;
        }


    }

    &-image{
        display: none;

       &-icon{

        @include mobile{

            margin: 0px 10px;
        }
       }

        @include mobile{
            display: block;
        }

     
    }



    &-list{
        padding: 0px 30px;

        @include mobile{
            font-weight: 500;
            font-size: x-large;
            margin: 20px 0px;
        }

        &-gnrl{
            display: flex;
            color: rgba(115, 115, 115, 1);
            list-style-type: none;
            padding: 0px;
            @include mobile{
                flex-direction: column;
            }
        }


    }

    &-text{
        color: rgba(37, 43, 66, 1);


    }

    &-nav{
        list-style-type: none;
        display: flex;
        color: rgba(115, 115, 115, 1);
    
        

    }


    &-button{

        @include mobile{
            display: none;
        }

        &-link{

            text-decoration: none;
            color: rgba(35, 166, 240, 1);
            margin-right: 30px;
        }
    }

    &-btn{
        border: none;
        border-radius: 5.5px;
        height: 4.5vh;
        color: white;
        background-color: #23A6F0;
    }

}


.general-text{
    text-align: center;
    margin-top: 40px;

    &-title{
        color: rgba(115, 115, 115, 1);
        font-weight: 500;

        &1{
            color: rgba(37, 43, 66, 1);
            font-weight: 900;

        }

        &2{
            color: rgba(37, 43, 66, 1);
            font-weight: 800;
            font-size: small;
            margin-right: 18px;
           


        }

        &3{
            color: rgba(115, 115, 115, 1);
            font-weight: 800;
            font-size: small;
            margin-left: 18px;


        }

        &4{
            display: flex;
            align-items: center;
            justify-content: center;
        }


    }


}



    .section{
        display: flex;
        margin-top: 30px;

        @include mobile{
            display: flex;
            flex-direction: column;

        }

        .container-1{
        
            width: 100vh;
            height: 68.6vh;
            margin-right: 10px;

            @include mobile{
                width: 100%;
                height: 100%;
            }

            &-image{

                width: 100%;
                height: 100%;

                @include mobile{
                    display: none ;
                }

                &1{

                    display: none;

                    @include mobile{
                        display: block;
                        width: 100%;
                    }
                }
            }


        }

        .container-2{
            width: 100vh;

            @include mobile{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                height: 80vh;
                gap: 7.3px;
                margin-top: 13px;
            
            }

            &-image{

                width: 49.9%;
                height: 50%;

                @include mobile{
                    height: 100%;
                }

                &s{

                   
                    @include mobile{
                        display: flex;
                        gap: 5px;
                    }


                }

                &1{
                    width: 49.5%;
                    height: 50%;

                    @include mobile{
                        height: 100%;
                    }


                }

                &2{
                    width: 49.9%;
                    height: 48.5%;

                    @include mobile{
                        height: 100%;
                    }


                }
                
                &3{
                    width: 49.5%;
                    height: 48.5%;

                    @include mobile{
                        height: 100%;
                    }


                }


            }


        }
    }
        



        .section2{
            margin-top: 80px;

            &-main{
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 6.5%;

                @include mobile{
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                }


            }

            &-title{
                margin-bottom: 80px;
             

                &-text{
                    text-align: center;
                    font-size: xx-large;

                }
            }

                    &-card1{

                        @include mobile{
                            margin-bottom: 60px;
                        }

                        &-icon{
                            margin: 0px 10px;
                        }

                        &-text{
                            text-align: center;

                            &1{
                                font-weight: 700;
                                color: #252B42;
                            }
        
                            &2{
                                color: #737373;
                                font-weight: 900;
                                font-size: x-small;

                            }
                        }
                }
            
        }

    

        .section3{

            display: flex;
            flex-direction: column;
            align-items: center;

            @include mobile{
                padding: 0px 80px;
                text-align: center;
            }

            &-title{
                color: #252B42;
                font-size: xx-large;
                font-weight: 900;
                font-style: normal;


            }

            &-text{
                color: #737373;
                font-size: smaller;
                font-weight: 600;
                text-align: center;

                @include mobile{
                    text-align: center;
                    inline-size: max-content;
                }


            }

            &-button{

                &-own{
                    border: none;
                    height: 50px;
                    width: 188px;
                    border-radius: 5.3px;
                    color: white;
                    background-color: #23A6F0;
                    margin-bottom: 35px;


                }


            }

            &-icon{

                &s{
                    margin-right: 30px;


                }


            }
        }


        .section4{


            .footer{
                margin-top: 80px;

                &-h3{
                    font-size: medium;
                    margin-left: 40px;
                }

                &-hr{
                    width: 77.5%;

                    @include mobile{
                        display: none;
                    }
                }

                &-title{

                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 50px;

                    @include mobile{
                        display: flex;
                        flex-direction: column;
                        margin-left: 59.9px;

                    }

                    &-txt{
                            color: #252B42;
                            font-size: x-large;
                            font-weight: 900;
                            margin-right: 41.6%;

                            @include mobile{
                                margin-bottom: 23px;
                            }
                    }


                }

                &-icons{

                    &-own{
                        margin-right: 20px;


                    }

                }
            

            &-main{
                display: flex;
                justify-content: space-around;
                margin-top: 40px;
                width: 92.5%;

                @include mobile{
                    display: flex;
                    flex-direction: column;
                }

            }

            &-lists{
                display: flex;

                @include mobile{
                    display: flex;
                    flex-direction: column;
                }

                &-style{

                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    &-li{
                        margin-bottom: 15px;
                        font-weight: 700;
                        color: #737373;
                        font-size: small;
                        list-style-type: none;

                    }
                }

                &1{
                    width: 70%;
                    margin-left: 4.6%;


                }

                &2{
                    margin-left: 60px;
                    width: 50%;

                    @include mobile{
                        margin-left: 4.6%;
                    }


                }

                &3{
                    width: 50%;
                    margin-left: 60px;

                    @include mobile{
                        margin-left: 4.6%;
                    }


                }

                &4{
                    width: 50%;
                    margin-left: 77.7px;

                    @include mobile{
                        margin-left: 4.6%;
                    }


                }


            }

            &-input{

                @include mobile{
                    margin-left: 12.2%;
                }

                &-h3{
                    font-size: medium;
                 
                }

                &-own{

                    height: 45px;
                    width: 200px;
                }

                &-button{

                    height: 50.5px;
                    width: 100px;
                    background-color: #23A6F0;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                }

                &-text{

                    color: rgba(115, 115, 115, 1);
                    font-size: smaller;
                    opacity: 0.7;
                }


            }


            &-end{
                margin-left: 11.1%;
                color: rgba(115, 115, 115, 1);
                font-size: small;

                @include mobile{
                    margin: 0px 20%;
                }

                &-txt{

                    padding: 0px 40.3px;
                    text-align: center;
                }

            }
        }
    }
    


